<%= render "shared/content_title", title: "Users Index" %>

<%= link_to "Add User", new_user_path, class: "button medium radius" %>

<ul class="small-block-grid-1 medium-block-grid-2">
  <li>
    <div class="panel">
      <%= render "users_table", users: @users, role: "Athlete" %>
    </div>
  </li>
  <li>
    <div class="panel">
      <%= render "users_table", users: @users, role: "Coach" %>
    </div>
  </li>
</ul>